<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">My24service frontend</a>
      <a class="btn btn-primary btn-margin" [routerLink]="['/home']">Home</a>
      <a class="btn btn-primary btn-margin" [routerLink]="['/orders']">Orders</a>
      <a class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</a>
      <a class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</a>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>