<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Angular2 frontend</a>
      <a class="btn btn-primary btn-margin" [routerLink]="['/']">Home</a>
      <div *ngIf="auth.authenticated()">
        <a class="btn btn-primary btn-margin" (click)="auth.logout()" >Log Out</a>
        <a class="btn btn-primary btn-margin" [routerLink]="['/orders']">Orders</a>
      </div>
      <div class="well" *ngIf="!auth.authenticated()">
        <p>Email: <input #email></p>
        <p>Password: <input type="password" #password></p>
        <a class="btn btn-primary btn-margin" (click)="auth.login(email.value, password.value)" >Log In</a>
      </div>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>